/*div1{
    width:300px;
    width: 90%;
    margin: auto;
   

}
.div1 td {
    padding:20px;
    text-align:center;
    color:black;
    

}
.div1 th{
    padding:15px;
    text-align:center;
    font-size:large;
}*/