<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Image Section-->
  <div class="header">
    <section class="header-section">
      <div class="center-div">
        <h1 class="font-weight-bold">COVID 19 information</h1>
        <p>Coronavirus disease spreads primarily through contact with an infected person
          when they cough or snezee.It also spreds when a person touches a surface or object that
          has the virus on it, then touches their eyes..</p>
        <div class="header-buttons">
          <a href="#">Know More</a>
        </div>
      </div>
    </section>
  </div>


  <!--side matter section -->
  <main>
    <section class="site-banner">
      <div class="container">
        <div class="row" data-aos="fade-right">
          <div class="col-lg-6 col-md-12 site-title">
            <h1 class="title-text text-uppercase">Get updated about COVID19</h1>
            <h4 class="title-text-1">The state has formed a State Control and Prevention Cell of Novel Corona Virus which has
              issued a list of protocols for the health care sector for collection of samples, transport of samples, 
             hospital management, dealing with suspected patients and so on.</h4>
            <br>
            <div class="site-buttons">
              <a href="notifications">Update Yourself</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 banner-imagef">
            <img style="width:80%" src="assets/Images/advise.jpg" alt="banner-img" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="site-banner">
      <div class="container">
        <div class="row" data-aos="fade-left">
          <div class="col-lg-6 col-md-12 banner-image">
            <img src="assets/Images/cases.jpg" alt="banner-img" class="img-fluid">
          </div>
          <div class="col-lg-6 col-md-12 site-title">
            <h1 class="title-text text-uppercase">HelpLine and Cases Reported</h1>
            <h4 class="title-text-1">Here you can avail the details of emergency contact information of
              various states in India to report your situation and get help from them.
              <br>
              The coronavirus COVID-19 is affecting 213 countries and territories around
              the world and 2 international conveyances.
              India currently has the largest number of confirmed cases in Asia,
              and has the second-highest number of confirmed cases in the world after the United States,
            </h4>
            <br>
            <div class="site-buttons">
              <a routerLink="helpline">Know more</a>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="site-banner">
      <div class="container">
        <div class="row" data-aos="zoom-in-right">
          <div class="col-lg-6 col-md-12 site-title">
            <h1 class="title-text text-uppercase">Get updated about COVID19</h1>
            <h4 class="title-text-1">As the COVID-19 pandemic in India is part of the worldwide pandemic of
              coronavirus disease, Various medical colleges and medicine related educational institutes also
              serve as hospitals.Complete list of testing sites for coronavirus in india wide is represented
              inside the website.To have a look click "Know more".</h4>
            <br>
            <div class="site-buttons">
              <a routerLink="hospital">Update Yourself</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 banner-image">
            <img src="assets/Images/hospital.jpg" alt="banner-img" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--Counter-->
  <div class="container counter-box">
    <div class="row text-center">
      <div class="col-md-4 text-uppercase">
        <p class="counter-section">Number of Deaths</p>
        <p class="counter">1000</p>
      </div>
      <div class="col-md-4 text-uppercase">
        <p class="counter-section">Number of Cases</p>
        <p class="counter">2000</p>
      </div>
      <div class="col-md-4 text-uppercase">
        <p class="counter-section">Recovery</p>
        <p class="counter">500</p>
      </div>
    </div>
  </div>

</body>

</html>