<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
 
  <!-- Image Section-->
  <div class="header">
  <section class="header-section">
    <div class="center-div">
      <h1 class="font-weight-bold">COVID 19 information</h1>
      <p>jeiufhsueifhiufnaiubniuHDUYBDKAJHIFEIUAHD sfnvkjsfnvkjsnlscwekm amdakoap kdopskepefoske</p>
      <div class="header-buttons">
        <a href="#">Know More</a>
      </div>
    </div>
  </section>
</div>


  <!--side matter section -->
  <main>
    <section class="site-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 site-title">
            <h1 class="title-text text-uppercase">Get updated about COVID19</h1>
            <h4 class="title-text-1">Government guidelines and adversories</h4>
            <br>
            <div class="site-buttons">
              <a href="notifications">Update Yourself</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 banner-imagef">
            <img style="width:80%" src="assets/Images/advise.jpg" alt="banner-img" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="site-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 banner-image">
            <img src="assets/Images/cases.jpg" alt="banner-img" class="img-fluid">
          </div>
          <div class="col-lg-6 col-md-12 site-title">
            <h1 class="title-text text-uppercase">HelpLine and Cases Reported</h1>
            <h4 class="title-text-1">See the details of Covid19 cases in the nation</h4>
            <br>
            <div class="site-buttons">
              <a routerLink = "helpline">Know more</a>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="site-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 site-title">
            <h1 class="title-text text-uppercase">Get updated about COVID19</h1>
            <h4 class="title-text-1">Government guidelines and adversories</h4>
            <br>
            <div class="site-buttons">
              <a routerLink = "hospital">Update Yourself</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 banner-image">
            <img src="assets/Images/hospital.jpg" alt="banner-img" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--Counter-->
  <div class="container counter-box">
    <div class="row text-center">
      <div class="col-md-4 text-uppercase">
        <p class="counter-section">Number of Deaths</p>
        <p class="counter">1000</p>
      </div>
      <div class="col-md-4 text-uppercase">
        <p class="counter-section">Number of Cases</p>
        <p class="counter">2000</p>
      </div>
      <div class="col-md-4 text-uppercase">
        <p class="counter-section">Recovery</p>
        <p class="counter">500</p>
      </div>
    </div>
  </div>

</body>

</html>