.nav-item a{
    color:black !important;
    font-weight: bold;
    font-size: 16px;
    padding-left: 8rem;
}
.navbar-brand{
    color: rgb(12, 11, 11);
    font-size:50px;
}

.nav-item a :hover{
    color: blue;
}
