<footer class="page-footer font-small primary pt-4 back-colour " style = "background-color: rgb(203, 240, 240);">
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Coronavirus disease spreads primarily through contact with an infected person
                    when they cough or snezee.It also spreds when a person touches a surface or object that
                    has the virus on it, then touches their eyes..</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 left-side">

                <!-- Links -->
                <h5 class="text-uppercase">About</h5>

                <ul class="list-unstyled region">
                    <li>
                        <a>Covid19 Cases</a>
                    </li>
                    <li>
                        <a>Hospitals</a>
                    </li>
                    <li>
                        <a>Govt Adversories</a>
                    </li>
                    <li>
                        <a>Helpline Details</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 right-side">

                <!-- Links -->
                <h5 class="text-uppercase">Regions</h5>
                <ul class="list-unstyled region">
                    <li>
                        <a>Telangana</a>
                    </li>
                    <li>
                        <a>Andhra Pradesh</a>
                    </li>
                    <li>
                        <a>Uttar Pradesh</a>
                    </li>
                    <li>
                        <a>Maharashtra</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style = "background-color: rgb(179, 179, 228); height:20%">
        <a>COVID19.com</a>
    </div>
    <!-- Copyright -->

</footer>