<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <style>
        div, input{
            font:15px Tahoma;
            margin:10px;
        }
        input {
            padding:5px 7px;
        }
        table, th, td {
            border:solid 1px #CCC;
            padding:1px 3px;
            font:15px Tahoma;
        }
        th {
            font-weight:bold;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-controller="myController">

        <!--THE SEARCH BOX-->
        <input type="text" ng-model="search" 
            placeholder="Enter some text to search" />
            </div>
        <table>
        <thead class="thead-dark">
        <tr class="bg-info text-white">
          <th scope="col" style="text-align:center; font-size: large; width:5%;"><b>state</b></th>
          <th scope="col" style="text-align:center; font-size: large; width:19%;">Institute Name</th>
          <th scope="col" style="text-align:center; font-size: large; width:10%;">Place of City</th>
          <th scope="col" style="text-align:center; font-size: large; width:15%;">Type of Ownership</th>
          <th scope="col" style="text-align:center; font-size: large; width:15%;">Admission Capacity</th>
          <th scope="col" style="text-align:center; font-size: large; width:15%;">Hospital Beds</th>
        </tr>
      </thead>
            <!--TABLE ROWS WITH A FILTER-->
            <tr ng-repeat="let medicollege of medicalCollegebeds | filter : search">

                <td>{{medicollege.state}}</td>
                <td>{{medicollege.name}}</td>
                <td>{{medicollege.city}}</td>
                <td>{{medicollege.ownership}}</td>
                <td>{{medicollege.admissionCapacity}}</td>
                <td>{{medicollege.hospitalBeds}}</td>
            </tr>
        </table>
</body>
<script>
    angular.module("myApp", [])
        .controller('myController', ['$scope', function ($scope) {

            // JSON ARRAY OBJECT.
            $scope.medicalCollegebeds =
            [
                
      {
        "state": "A & N Islands",
        "name": "Andaman & Nicobar Islands Insitute of Medical Sciences, Port Blair",
        "city": "Port Blair",
        "ownership": "Govt.",
        "admissionCapacity": 100,
        "hospitalBeds": 460
      },
      {
        "state": "Andhra Pradesh",
        "name": "ACSR Government Medical College Nellore",
        "city": "Nellore",
        "ownership": "Govt.",
        "admissionCapacity": 150,
        "hospitalBeds": 750
      },
      {
        "state": "Andhra Pradesh",
        "name": "Alluri Sitaram Raju Academy of Medical Sciences, Eluru",
        "city": "Eluru",
        "ownership": "Trust",
        "admissionCapacity": 150,
        "hospitalBeds": 1070
      }
            ]

        } ]);
</script>
</html>