<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>

  
  <div class="form-group row">
    <div style="padding-left:10%;width:36%; height:30px">
    <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
      [(ngModel)]="searchText" placeholder="Search state" 
      autofocus>
      </div>
      <div style="padding-left:5%;width:30%; height:30px">
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchType" placeholder="Search ownership type" 
          autofocus>
          </div>
  </div>
  <div class="container">
    <table class="table table-bordered table-stripped table-hover">
      <thead class="thead-dark">
        <tr class="bg-info text-white">
          <th scope="col" style=" font-size: large; width:5%;"><b>state</b></th>
          <th scope="col" style=" font-size: large; width:19%;">Institute Name</th>
          <th scope="col" style=" font-size: large; width:20%;">Place of City</th>
          <th scope="col" style=" font-size: large; width:5%;">Type of Ownership</th>
          <th scope="col" style=" font-size: large; width:15%;">Admission Capacity</th>
          <th scope="col" style=" font-size: large; width:15%;">Hospital Beds</th>
        </tr>
      </thead>
      <tbody style="background-color: azure;">
        <tr  *ngFor="let medicollege of  medicalCollegebeds | filter:searchText : 'state' | filter: searchType : 'ownership' ">
          <td style="font-size: larger;">{{medicollege.state}}</td>
          <td style=" font-size: larger;">{{medicollege.name}}</td>
          <td style=" font-size: larger;">{{medicollege.city}}</td>
          <td style=" font-size: larger;">{{medicollege.ownership}}</td>
          <td style="font-size: larger;">{{medicollege.admissionCapacity}}</td>
          <td style=" font-size: larger;">{{medicollege.hospitalBeds}}</td>
        </tr>
      </tbody>
    </table>
</div>
</body>
</html>
