<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark   fixed-top" style="background:black;height:25px;">
    <div class="container">
      <a class="nav-link" href="#"><img src="assets/img/co.png" height="70px"><span class="sr-only">(current)</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" routerLink="hospitals"><b>
                <h4 style="text-decoration-color: white; ">Hospital</h4>
              </b></a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" routerLink="colleges"><b>
                <h4 style="text-decoration-color: white; ">College</h4>
              </b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>-->
  
  <!--<body>
    <div class="input-group md-form form-sm form-2 pl-0" style="text-align:center;">
      <form #searchByStateNameForm="ngForm" (ngSubmit)="searchByStateName(searchBystateNameForm.value)">
        <input class="form-control my-0 py-1 purple-border" type="text" style="width:500px;height:50px;"
          placeholder="Enter the State Name" name="stateName" ngModel required>
        <button class="input-group-text lighten-2 amber-border" style="width:70px;height:50px;" id="basic-text1">&nbsp;<i
            class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      <div class="container">
  
        <h1 style="text-align:center;"><b style=color:black>Information about Medical Colleges</b></h1>
        <br><br>
        <table class="table table-bordered table-stripped table-hover">
          <thead class="thead-dark">
            <tr class="bg-info text-white">
              <th scope="col" style=" font-size: large; width:5%;"><b>state</b></th>
              <th scope="col" style=" font-size: large; width:19%;">Institute Name</th>
              <th scope="col" style=" font-size: large; width:20%;">Place of City</th>
              <th scope="col" style=" font-size: large; width:5%;">Type of Ownership</th>
              <th scope="col" style=" font-size: large; width:15%;">Admission Capacity</th>
              <th scope="col" style=" font-size: large; width:15%;">Hospital Beds</th>
            </tr>
          </thead>
          <tbody style="background-color: azure;">
            <tr *ngFor='let medicollege of medicalCollegebeds'>
              <td style="font-size: larger;">{{medicollege.state}}</td>
              <td style=" font-size: larger;">{{medicollege.name}}</td>
              <td style=" font-size: larger;">{{medicollege.city}}</td>
              <td style=" font-size: larger;">{{medicollege.ownership}}</td>
              <td style="font-size: larger;">{{medicollege.admissionCapacity}}</td>
              <td style=" font-size: larger;">{{medicollege.hospitalBeds}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    
  </body>-->
  <body>

  
  <div class="form-group row">
    <div style="padding-left:10%;width:36%; height:30px">
    <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
      [(ngModel)]="searchText" placeholder="Search state" 
      autofocus>
      </div>
      <div style="padding-left:5%;width:30%; height:30px">
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchType" placeholder="Search ownership type" 
          autofocus>
          </div>
  </div>
  <div class="container">
    <table class="table table-bordered table-stripped table-hover">
      <thead class="thead-dark">
        <tr class="bg-info text-white">
          <th scope="col" style=" font-size: large; width:5%;"><b>state</b></th>
          <th scope="col" style=" font-size: large; width:19%;">Institute Name</th>
          <th scope="col" style=" font-size: large; width:20%;">Place of City</th>
          <th scope="col" style=" font-size: large; width:5%;">Type of Ownership</th>
          <th scope="col" style=" font-size: large; width:15%;">Admission Capacity</th>
          <th scope="col" style=" font-size: large; width:15%;">Hospital Beds</th>
        </tr>
      </thead>
      <tbody style="background-color: azure;">
        <tr  *ngFor="let medicollege of  medicalCollegebeds | filter:searchText : 'state' | filter: searchType : 'ownership' ">
          <td style="font-size: larger;">{{medicollege.state}}</td>
          <td style=" font-size: larger;">{{medicollege.name}}</td>
          <td style=" font-size: larger;">{{medicollege.city}}</td>
          <td style=" font-size: larger;">{{medicollege.ownership}}</td>
          <td style="font-size: larger;">{{medicollege.admissionCapacity}}</td>
          <td style=" font-size: larger;">{{medicollege.hospitalBeds}}</td>
        </tr>
      </tbody>
    </table>
</div>
</body>
</html>
